body {
    background-color: rgb(167, 167, 168);
}

h2 {
    position: relative;
    text-align: center;
    font-size: 2em;

}
.container {
    
    width: 800px;
    height: 800px;
    margin-left: 29%;
    margin-top: 3%;
    cursor: pointer;
    border: 1px black solid;

    display: grid;
    grid-template-columns: repeat(var(--grid-items), 1fr);
    grid-template-rows: repeat(var(--grid-items), 1fr);
    grid-gap: 0px;
}
.square {
    display: flex;
    background-color: rgb(168, 194, 168);
    border: 1px solid gray; 
    text-align: center;
}

.buttons {
    width:150px;
    height: 20px;
    margin: 0 auto;

}
.button {
    position: relative;
    text-align: center;
    font-size: 1em; 
    border-radius: 10px;
    font-weight: bold;
    
}
